.search {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin: 20px 0;

    input {
        height: 34px;
        background-color: $color-2;
        color: $color-1;
        font-size: 24px;
        font-weight: 400;
        flex: 1;
        padding: 15px;
        border: 1px solid $color-1;
        margin-right: 10px;
    }

    .btn {
        height: 66px;
        width: 217px;
    }
}

@media(max-width: 1024px) {
    .search {
        input {
            font-size: 16px;
        }
    }
}

@media(max-width: 767px) {
    .search {
        margin: 15px 0 7px;
        padding: 0 10px;

        input {
            flex: initial;
            height: 25px;
            width: 75%;
            padding: 10px;
        }

        .btn {
            height: 46px;
            width: 25%;
        }
    }
}